
# Python Challenges


### Pace Your Learning!
We cover a lot of content! Give yourself time to practice the Python basics with the following exercises.

## Part 1: Numbers and Calculations

1) What is 8675309 plus 42?

In [1]:
8675309 + 42

8675351

2) Create a variable called `base` that is equal to 12.

In [2]:
base = 12
base

12

3) Create a variable called `height` that is equal to 15.

In [3]:
height = 15
height

15

4) Measure the area of a right triangle using the variables created above. Save this to a variable called `right_tri_area`.

[How to find the area of a right triangle](https://www.varsitytutors.com/basic_geometry-help/how-to-find-the-area-of-a-right-triangle)

Use the following image for the next exercises.

Remeber the equation for the area of a circle with a radius is **$r$ = $A = \pi r^2$** 

![](imgs/circle.png)

In [7]:
right_tri_area = (1/2) * (base) * (height)

5) Create a variable for `pi` that is equal to `3.14`.

In [9]:
pi = 3.14
pi

3.14

6) Create a variable called`r` for the radius of the small (inner) circle that measures `3`.

In [11]:
r = 3
r

3

7) Create a variable called `R` for the radius of the full circle (including the inner circle) that is equal to `8`.

In [12]:
R = 8
R

8

8) Calculate the area of the small circle. Assign it to a variable called `sml_area`.

In [16]:
sml_area = pi * r**2
sml_area

28.26


9) Calculate the area of the full circle. Assign it to a variable called `full_area`.

In [20]:
full_area = pi * R**2
full_area

200.96


10) Calculate the area of only the outer circle (do not include the inner circle). Assign it to a variable called `outer_area`.

In [21]:
outer_area = pi * (R - r)**2
outer_area

78.5


11) Calculate the perimeter of the outer circle.

[How to find the perimeter of a circle](https://sciencing.com/perimeter-circle-4487756.html)

In [23]:
pi * (2 * R)

50.24

## Part 2: String and Indexing

12) Create a variable called `my_name` and assing your name to it.

In [24]:
my_name = "Julian"

13) Note that the `my_name` string has a number of assiged methods that will return changes to the object. Click and study the following link. 

[Python String Documentation](https://www.w3schools.com/python/python_ref_string.asp)

14) Uppercase all the letters in the `my_name` variable.

In [26]:
my_name.upper()

'JULIAN'

15) Lowercase all the letters in the `my_name` variable.

In [28]:
my_name.lower()

'julian'

16) Use the `.count` method to output the number of letters in `my_name`

In [51]:
my_name.count(my_name)

1

17) Use the len() function to output the number of letters in `my_name`.

In [36]:
len(my_name)

6

18) Create a variable called `intro` and assign the string `"My name is: "`

In [48]:
intro = "My name is: "

19) Using the `print` function, join the two variables above to complete the statement.

In [49]:
print(intro, my_name)

My name is:  Julian

20) You can use string indexing to select specific characters from a string. Click and study the following link. 

[String Indexing](https://realpython.com/lessons/string-indexing/)

In [53]:
my_name[-1]

'n'

21) Using string indexing, output the first letter of your name.

In [54]:
my_name[0]

'J'

22) Using string indexing, output the last letter of your name.

In [55]:
my_name[-1]

'n'

23) Using string indexing, output the first three letters of your name.

In [56]:
my_name[:3]

'Jul'

24) Using string indexing, output the middle two letters of your name.

In [58]:
my_name[2:4]

'li'

25) Using string indexing, output only every other letter of your name.

In [131]:
my_name[0::2]

'Jla'

## Part 3 : Lists and Indexing
For guideance, check this [site](https://www.w3schools.com/python/python_ref_list.asp).

In [107]:
colors = ["red", "orange", "green", "blue"]
colors

['red', 'orange', 'green', 'blue']

26) Use the sort method to organize the list in alphabetically order.

In [108]:
colors.sort()

In [109]:
colors

['blue', 'green', 'orange', 'red']

27) Remove the last item in the `colors` list.

In [110]:
colors.pop()

'red'

In [111]:
colors

['blue', 'green', 'orange']

28) Remove the color `orange` from the list.

In [112]:
colors.remove('orange')

In [113]:
colors

['blue', 'green']

29) Insert the color `yellow` in the list as the second item in the list.

In [114]:
colors.insert(1, 'yellow')

In [115]:
colors

['blue', 'yellow', 'green']

30) Create an empty list called `more_colors`. 

*Hint:* Empty lists can be created by assigning a [] to a variable

In [116]:
more_colors = []

In [117]:
# one way
more_colors.append('indigo')
more_colors.append('vermillion')
more_colors.append('cyan')
more_colors.append('teal')

In [118]:
more_colors

['indigo', 'vermillion', 'cyan', 'teal']

31) Add the colors `'indigo', 'vermillion', 'cyan', 'teal'` to the `more_colors` list.

In [102]:
adding_list = ['indigo', 'vermillion', 'cyan', 'teal']
               
[more_colors.append(i) for i in adding_list]

# more_colors

# another way
# more_colors.append('indigo')
# more_colors.append('vermillion')
# more_colors.append('cyan')
# more_colors.append('teal')

[None, None, None, None]

In [119]:
more_colors

['indigo', 'vermillion', 'cyan', 'teal']

32) Add the `more_colors` list to the end of the `colors` list. 

*Hint*
Your final output should be `['blue', 'yellow', 'green', 'indigo', 'vermillion', 'cyan', 'teal']`

In [120]:
colors

['blue', 'yellow', 'green']

In [121]:
[colors.append(i) for i in more_colors]

[None, None, None, None]

In [122]:
colors

['blue', 'yellow', 'green', 'indigo', 'vermillion', 'cyan', 'teal']

**Use list indexing and the list in the next cell for the following exercises.**

In [125]:
puzzle_list = ["purple", my_name, [2, 3, 6, 11, 5], "gray", {"Lambda": "Student"}, 
               ['Box', ["cat", "shrodinger", "poison"]]]

In [126]:
puzzle_list

['purple',
 'Julian',
 [2, 3, 6, 11, 5],
 'gray',
 {'Lambda': 'Student'},
 ['Box', ['cat', 'shrodinger', 'poison']]]

33) Output the first item in the list.

In [127]:
puzzle_list[0]

'purple'

34) Output the last item in the list.

In [128]:
puzzle_list[-1]

['Box', ['cat', 'shrodinger', 'poison']]

35) Output every third item in the list, starting with the second item.

In [129]:
puzzle_list[1::3]

['Julian', {'Lambda': 'Student'}]

36) Output only the item `'cat'` from the list.

In [135]:
puzzle_list[5][1][0]

'cat'


## Part 4: Conditionals and Loops

37) Alter the following line of code to change the output to `True`.

In [136]:
47 > 50

False

38) Create a variable called `car_speed` and set its value to be equal to 55.

In [137]:
car_speed = 55

39) Replace the underscore in the following statement with the operator required to print `"Pull over"`

In [138]:
if car_speed >= 55:
    print("Pull over")
else:
    print("Ignore")

Pull over

39) Use the `input()` [function](https://www.w3schools.com/python/ref_func_input.asp) to reassign the value of car_speed to 45. 

*Hint:* You will need to surround the `input` function with the `int()` function to transform the value from a string to a number.

In [140]:
car_speed = int(input())

 45

40) Classic Fizzbuzz Problem 

Write a Python program which iterates the integers from 1 to 50. 
- For multiples of three print "Fizz" 
- For the multiples of five print "Buzz". 
- For numbers which are multiples of both three and five print "FizzBuzz".

*Hint* Remember your [elif](https://www.tutorialsteacher.com/python/python-if-elif) statements.

In [144]:
for i in range(1, 50):
    if i % 15 == 0:
        print('FizzBuzz')
    elif i % 3 == 0:
        print('Fizz')
    elif i % 5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49